.nav{
    height: 70px;
	background: linear-gradient(170deg, #1bc059, #0d47a1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.title{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    font-family: '"Montserrat", sans-serrif';
    text-transform: uppercase;
    margin-left: 20px ;
    &:hover{color:#f00;
        transition-duration:1s
     };
}
.cartIconContainer{
    position: relative;
    cursor: pointer;
}

.cartIcon{
    height: 48px;
    margin-right: 20px;
}

.cartCount{
    background: orange;
    border-radius: 50%;
    padding: 4px 8px;
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 12px;
}